*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TT Hoves";
}

                                /* Первый экран лендинга */

#hello{
    background-image: url(../img/html_css_js.png);
    background-repeat: no-repeat;
    background-position: top 121px right 58px;
    background-size: 30vw;
    
}

section{
    padding: 0 calc(24px + (112 - 24) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: 160px; 
}

.logo_tehnikum{
    width: calc(215px + (295 - 215) * ((100vw - 375px) / (1280 - 375)));
    height: calc(30px + (41 - 30) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(28px + (85 - 28) * ((100vw - 375px) / (1280 - 375)));
}

.info-date{
    display: flex;
    gap: 30px 161px;
    flex-wrap: wrap;
    margin-bottom: calc(48px + (76 - 48) * ((100vw - 375px) / (1280 - 375)));
    
}
.info-text{
    font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
    line-height: 138%;
    margin-bottom: calc(0px + (5 - 0) * ((100vw - 375px) / (1280 - 375)));
}

.info-text-date{
    font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
    line-height: 138%;
    font-weight: 700;
}

h1{
    font-size: calc(42px + (80 - 42) * ((100vw - 375px) / (1280 - 375)));
    line-height: 109%;
    font-family: "Chava";
    margin-bottom: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));

}

.text-prof {
    width: calc(328px + (930 - 328) * ((100vw - 375px) / (1280 - 375)));
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    line-height: 137%;
    margin-bottom: 20px;
    font-weight: 300;
}

.btn-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;

}
button{
    width: 328px;
    height: 61px;
    box-sizing: 1px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    border-color: #6E3ABA;
    background-color: #6E3ABA;
    color: white;
}

button.secondary{
    color: #6E3ABA;
    background-color: white;
}


                                /* Второй экран лендинга */

.title{
    text-transform: uppercase;
    width: calc(328px + (769 - 328) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
    line-height: 117%;
    margin-bottom: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
}



.emoji{
    width: calc(175px + (200 - 175) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(10px + (23 - 10) * ((100vw - 375px) / (1280 - 375)));
}

        /* Размер текста */

.text-emoji-title{
    text-transform: uppercase;
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 600;
    line-height: 137%;
    margin-bottom: calc(10px + (20 - 10) * ((100vw - 375px) / (1280 - 375)));
}
.text-emoji{
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    line-height: 137%;
}

        /* Первый блок эмоджи */

.first-block-emoji{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 70px;
    
    margin-bottom: calc(40px + (52 - 40) * ((100vw - 375px) / (1280 - 375)));

}

.emoji-cart-block {
    width: calc(328px + (450 - 328) * ((100vw - 375px) / (1280 - 375)));
    height: calc(350px + (506 - 350) * ((100vw - 375px) / (1280 - 375)));
}

        /* Второй блок эмоджи */

.second-block-emoji{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 70px;
    
}


                            /* Третий экран лендинга Таймер */

.purpleBg{
    background-color: #6E3ABA;
}

section.purpleBg{
    text-align: center;
    padding-top: calc(40px + (80 - 40) * ((100vw - 375px) / (1280 - 375)));
    padding-bottom: calc(40px + (80 - 40) * ((100vw - 375px) / (1280 - 375)));
}

h3 {
    font-size: calc(34px + (52 - 34) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 700;
    line-height: 117%;
    color: #ffffff;
    text-transform: uppercase;
}

.timer{
    display: flex;
    justify-content: space-between;
    margin-top: calc(20px + (57 - 20) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(40px + (80 - 40) * ((100vw - 375px) / (1280 - 375)));
}

.timerElem .value{
    font-family: "Chava";
    font-size: calc(60px + (174 - 60) * ((100vw - 375px) / (1280 - 375)));
    line-height: 107%;
    color: #2f1d4e;
}

.timerElem .desc{
    font-size: calc(10px + (27 - 10) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 118%;
    color: #2f1d4e;
    text-transform: uppercase;
}

                                /* Четвертый экран лендинга */

.bio{
    display: flex;
    gap: 20px 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.coolTeacher{
    flex-basis: 330px;
    flex-grow: 1;
    max-width: 400px;
}
.coolTeacher img{
    width: 100%;
}

.bioText{
    flex-basis: 330px;
    flex-grow: 3;
    max-width: 650px;
}

.bioText h4{
    font-size: calc(38px + (48 - 38) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 700;
    line-height: 126%;
    width: calc(341px + (566 - 341) * ((100vw - 375px) / (1280 - 375)));
    padding-bottom: calc(10px + (20 - 10) * ((100vw - 375px) / (1280 - 375)))
}
.bioText p{
    width: calc(328px + (566 - 328) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
}

.experiense{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.exp{
    width: calc(156px + (250 - 156) * ((100vw - 375px) / (1280 - 375)));

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: calc(30px + (40 - 30) * ((100vw - 375px) / (1280 - 375)));
}
.exp img{
    width: 36px;
}
.exp span{
    font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));  
    line-height: 138%;
}
#hyphenation-correction{
    width: calc(156px + (225 - 156) * ((100vw - 375px) / (1280 - 375)));
}






                                /* Пятый экран лендинга */


.info-education>h2{
    width: calc(328px + (1022 - 328) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(20px + (90 - 20) * ((100vw - 375px) / (1280 - 375)));
}

.texst-block {
    width: calc(328px + (400 - 328) * ((100vw - 375px) / (1280 - 375)));
    
}

section>.first-block-emoji{
    gap: calc(30px + (52 - 30) * ((100vw - 375px) / (1280 - 375))) 120px;
    margin-bottom: calc(30px + (52 - 30) * ((100vw - 375px) / (1280 - 375)));;
}

section>.second-block-emoji{
    gap: calc(30px + (52 - 30) * ((100vw - 375px) / (1280 - 375))) 120px;
}









/* Надо доработать */
/* @media(max-width: 376px){
    *{
        margin: 0;
        padding: 0;
    }
    .logo_tehnikom>img{
        width: 215.14px;
        height: 30px;
        margin-bottom: 28px;
    }
    .info-date p{
        font-size: 16px;
    }
    .info-date div{
        margin-bottom: 48px;
    }
    h1{
        font-size: 42px;
        margin-bottom: 20px;
    }
    .text{
        width: 328px;
        font-size: 18px;
        margin-bottom: 20px;
    }
} */